*{
    margin: 0;
    padding: 0;
}

.web-page{
    background-color: #DAFFFB;
}

.slide-img{
    margin: 30px;
}

.top-bar{
    display: flex;
    background-color: #176B87;
    margin: 0;
    padding: 1vh;
}

.web-name{
    color: #DAFFFB;
    margin-top: 2vh;
}

.card-download{
    margin: 20px;
    width: 30vw;
}

.heading-downloads{
    margin: 20px;
}

.downloads{
    display: flex;
}

.top-img{
    width: 8vh;
    height: 8vh;
    margin-left: 8px;
    margin-top: 2px;
    margin-right: 25px;
}

.card-img-top{
    height: 30vh;
}

.card-img-top-rad{
    height: 50vh;
}

@media only screen and (max-width: 475px) {
    .card-download{
        width: 90%;
    }
    .downloads{
        display: contents;
    }
    .heading-downloads{
        margin-left: 70px;
    }
    .slide-img{
        visibility: hidden;
        height: 0px;
    }
    h1{
        background-color:#278ccf:
    }
}
